# CM4125 Topic 4 Lab

### Imports

In [93]:
import pandas as pd

For this lab, we will be importing the data set `films.csv` from a dropbox link:

In [94]:
films = pd.read_csv('https://www.dropbox.com/s/lcjcm0wtvatw81d/films.csv?raw=1'
                    ,index_col=0)

Use Pandas' `read_csv` function, specifying column $0$ as the index column. This column is the `imdb_id`, a unique identifier assigned by the Internet Movie Database (IMDB)

Store the dataframe into an appropriately named value, such as `films` or another name of your choice

In [95]:
# your code here
films

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0000417,NaN,NaN,NaN,NaN,NaN,True,A Trip to the Moon,1902,TV-G,4-Oct-02,13,"Short, Adventure, Fantasy",Georges M_©li_¨s,NaN,NaN,France,NaN,NaN,8.2,28826
tt0000439,NaN,NaN,NaN,NaN,NaN,True,The Great Train Robbery,1903,TV-G,1-Dec-03,11,"Short, Action, Crime",Edwin S. Porter,NaN,English,USA,1 win.,NaN,7.3,11609
tt0006206,NaN,NaN,NaN,NaN,True,True,Les vampires,1915,NOT RATED,23-Nov-16,421,"Action, Adventure, Crime",Louis Feuillade,Louis Feuillade,French,France,1 nomination.,NaN,6.8,3139
tt0004972,NaN,44.0,NaN,NaN,NaN,True,The Birth of a Nation,1915,NOT RATED,3-Mar-15,165,"Drama, History, War",D.W. Griffith,"Thomas Dixon Jr. (adapted from his novel: ""The...",NaN,USA,2 wins.,NaN,6.8,16954
tt0006864,49.0,NaN,NaN,NaN,NaN,True,Intolerance: Love's Struggle Throughout the Ages,1916,NOT RATED,5-Sep-16,197,"Drama, History, War",D.W. Griffith,"D.W. Griffith (scenario), Anita Loos (titles)",NaN,USA,1 win.,NaN,8.0,10759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt5895028,NaN,NaN,NaN,NaN,NaN,True,13th,2016,TV-MA,7-Oct-16,100,"Documentary, Crime, History",Ava DuVernay,"Spencer Averick, Ava DuVernay",English,USA,Nominated for 1 Oscar. Another 28 wins & 42 no...,90.0,8.2,16016
tt5168192,NaN,NaN,NaN,NaN,NaN,True,"I, Daniel Blake",2016,R,9-Jun-17,100,Drama,Ken Loach,Paul Laverty (screenplay),English,"UK, France, Belgium",Won 1 BAFTA Film Award. Another 24 wins & 30 n...,78.0,7.9,35427
tt2543164,NaN,NaN,NaN,NaN,NaN,True,Arrival,2016,PG-13,11-Nov-16,116,"Drama, Mystery, Sci-Fi",Denis Villeneuve,"Eric Heisserer (screenplay by), Ted Chiang (ba...","English, Russian, Mandarin",USA,Won 1 Oscar. Another 62 wins & 245 nominations.,81.0,7.9,433018
tt2582782,NaN,NaN,NaN,NaN,NaN,True,Hell or High Water,2016,R,26-Aug-16,102,"Crime, Drama, Thriller",David Mackenzie,Taylor Sheridan,English,USA,Nominated for 4 Oscars. Another 42 wins & 157 ...,88.0,7.6,148114
tt5663482,NaN,NaN,NaN,NaN,NaN,True,Jungle Book,2016,PG,15-Apr-16,106,"Adventure, Drama, Family",Jon Favreau,"Justin Marks (screenplay by), Rudyard Kipling ...",English,"UK, USA",Won 1 Oscar. Another 31 wins & 52 nominations.,77.0,7.5,218886

Use `head` to show the first $3$ rows

In [96]:
# your code here
films.head(3)

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0000417,NaN,NaN,NaN,NaN,NaN,True,A Trip to the Moon,1902,TV-G,4-Oct-02,13,"Short, Adventure, Fantasy",Georges M_©li_¨s,NaN,NaN,France,NaN,NaN,8.2,28826
tt0000439,NaN,NaN,NaN,NaN,NaN,True,The Great Train Robbery,1903,TV-G,1-Dec-03,11,"Short, Action, Crime",Edwin S. Porter,NaN,English,USA,1 win.,NaN,7.3,11609
tt0006206,NaN,NaN,NaN,NaN,True,True,Les vampires,1915,NOT RATED,23-Nov-16,421,"Action, Adventure, Crime",Louis Feuillade,Louis Feuillade,French,France,1 nomination.,NaN,6.8,3139

You should see that the index of these rows is `tt0000417`, `tt0000439`, and `tt0006206`

In this data set we will only be using a few columns:

- `imdb_id` is the unique index of the film in the *Internet Movie DataBase*
- `title` is the title of the film
- `year` is the year the film was released
- `imdb_votes` is the number of rating the film has received from users.

Check that you get the same result by using `iloc` with a numerical range `0:3`

In [97]:
# your code here

df = films.iloc[0:3, [6, 7, 19]]
df

                             title  year  imdb_votes
imdb_id
tt0000417       A Trip to the Moon  1902       28826
tt0000439  The Great Train Robbery  1903       11609
tt0006206             Les vampires  1915        3139

Use 'loc' with a range to retrieve the same three rows

In [100]:
# your code here
films_new = films.loc[df.index[0]:df.index[2], ['title', "year", 'imdb_votes']]
films_new

                             title  year  imdb_votes
imdb_id
tt0000417       A Trip to the Moon  1902       28826
tt0000439  The Great Train Robbery  1903       11609
tt0006206             Les vampires  1915        3139

Get a random sampling of $5$ films to display in the notebook

In [101]:
# your code here
films_new = films.loc[:, ['title', "year", 'imdb_votes']]
films_new.sample(5)

                          title  year  imdb_votes
imdb_id
tt0113277                  Heat  1995      434277
tt0118954  Deconstructing Harry  1997       35630
tt0077416       The Deer Hunter  1978      234026
tt1655442            The Artist  2011      191470
tt0119488     L.A. Confidential  1997      416150

Re-run the cell a few times to check that it is randomly choosing each time

**Q. Which film has the index `tt0435761`?**

In [103]:
# your code here
films_new.loc[['tt0435761']]

                 title  year  imdb_votes
imdb_id
tt0435761  Toy Story 3  2010      549330

Answer:oy Story 3

Display a `DataFrame` containing only films `tt0015361` and `tt0059817`

In [51]:
# your code here
films_new.loc[['tt0015361', 'tt0059817']]

                    title  year  imdb_votes
imdb_id
tt0015361          Strike  1925        4904
tt0059817  Tokyo Olympiad  1965        1094

**Q. Which two films are these?**

Answer: Tokyo Olympiad and Strike

Using `iloc`, display a dataframe containing only rows indexed `57`, `79`, and `190`

In [52]:
# your code here
films_new.iloc[[57, 79, 190]]

                      title  year  imdb_votes
imdb_id
tt0022100                 M  1931       99611
tt0024028  Footlight Parade  1933        3367
tt0038890   Rome, Open City  1945       16080

Using `loc`, display the same three films

In [53]:
# your code here
films_new.loc[['tt0022100', 'tt0024028', 'tt0038890']]

                      title  year  imdb_votes
imdb_id
tt0022100                 M  1931       99611
tt0024028  Footlight Parade  1933        3367
tt0038890   Rome, Open City  1945       16080

Create a dataframe containing all films in the data set where the `year` is $2000$ or later

Store this new dataset in a new variable called `films2k`

In [59]:
# your code here
films2k = films[films['year'] > 1999]
films2k

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0172495,NaN,NaN,NaN,NaN,True,True,Gladiator,2000,R,5-May-00,155,"Action, Adventure, Drama",Ridley Scott,"David Franzoni (story), David Franzoni (screen...",English,"USA, UK",Won 5 Oscars. Another 53 wins & 101 nominations.,64.0,8.5,990780
tt0190332,NaN,NaN,NaN,NaN,True,True,"Crouching Tiger, Hidden Dragon",2000,PG-13,12-Jan-01,120,"Action, Drama, Romance",Ang Lee,"Du Lu Wang (book), Hui-Ling Wang (screenplay),...",Mandarin,"Taiwan, Hong Kong, USA, China",Won 4 Oscars. Another 95 wins & 127 nominations.,93.0,7.9,218527
tt0190590,NaN,NaN,NaN,NaN,NaN,True,"O Brother, Where Art Thou?",2000,PG-13,2-Feb-01,107,"Adventure, Comedy, Crime","Joel Coen, Ethan Coen","Homer (epic poem ""The Odyssey""), Ethan Coen, J...",English,"UK, France, USA",Nominated for 2 Oscars. Another 7 wins & 35 no...,69.0,7.8,226436
tt0212338,NaN,NaN,NaN,NaN,NaN,True,Meet the Parents,2000,PG-13,6-Oct-00,108,Comedy,Jay Roach,"Greg Glienna, Mary Ruth Clarke, Greg Glienna (...","English, Thai, Spanish, Hebrew, French",USA,Nominated for 1 Oscar. Another 7 wins & 14 nom...,73.0,7.0,261775
tt0168629,NaN,NaN,NaN,NaN,NaN,True,Dancer in the Dark,2000,R,6-Oct-00,140,"Crime, Drama, Musical",Lars von Trier,Lars von Trier,English,"Denmark, Spain, Germany, Netherlands, Italy, U...",Nominated for 1 Oscar. Another 33 wins & 45 no...,61.0,8.0,79711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt5895028,NaN,NaN,NaN,NaN,NaN,True,13th,2016,TV-MA,7-Oct-16,100,"Documentary, Crime, History",Ava DuVernay,"Spencer Averick, Ava DuVernay",English,USA,Nominated for 1 Oscar. Another 28 wins & 42 no...,90.0,8.2,16016
tt5168192,NaN,NaN,NaN,NaN,NaN,True,"I, Daniel Blake",2016,R,9-Jun-17,100,Drama,Ken Loach,Paul Laverty (screenplay),English,"UK, France, Belgium",Won 1 BAFTA Film Award. Another 24 wins & 30 n...,78.0,7.9,35427
tt2543164,NaN,NaN,NaN,NaN,NaN,True,Arrival,2016,PG-13,11-Nov-16,116,"Drama, Mystery, Sci-Fi",Denis Villeneuve,"Eric Heisserer (screenplay by), Ted Chiang (ba...","English, Russian, Mandarin",USA,Won 1 Oscar. Another 62 wins & 245 nominations.,81.0,7.9,433018
tt2582782,NaN,NaN,NaN,NaN,NaN,True,Hell or High Water,2016,R,26-Aug-16,102,"Crime, Drama, Thriller",David Mackenzie,Taylor Sheridan,English,USA,Nominated for 4 Oscars. Another 42 wins & 157 ...,88.0,7.6,148114
tt5663482,NaN,NaN,NaN,NaN,NaN,True,Jungle Book,2016,PG,15-Apr-16,106,"Adventure, Drama, Family",Jon Favreau,"Justin Marks (screenplay by), Rudyard Kipling ...",English,"UK, USA",Won 1 Oscar. Another 31 wins & 52 nominations.,77.0,7.5,218886

**Q. How many films from this dataset are from $2000$ or later?**

In [60]:
# your code here
films2k.info()

<class 'pandas.core.frame.DataFrame'>
Index: 206 entries, tt0172495 to tt5663482
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   rank_afc_2007              1 non-null      float64
 1   rank_afc_1998              0 non-null      float64
 2   rank_wga_2005              3 non-null      float64
 3   rank_ss_2012               2 non-null      float64
 4   included_in_guardian_list  23 non-null     object
 5   included_in_1001_book      200 non-null    object
 6   title                      206 non-null    object
 7   year                       206 non-null    int64
 8   rated                      197 non-null    object
 9   released                   206 non-null    object
 10  runtime                    206 non-null    int64
 11  genre                      206 non-null    object
 12  director                   206 non-null    object
 13  writer                     200 non-null    object
 14  language                   206 non-null    object
 15  country                    206 non-null    object
 16  awards                     205 non-null    object
 17  metascore                  202 non-null    float64
 18  imdb_rating                206 non-null    float64
 19  imdb_votes                 206 non-null    int64
dtypes: float64(6), int64(3), object(11)
memory usage: 33.8+ KB

Answer: 206

**Q. What is the median $50\%$ `runtime` of the films in the dataset from the year $2000$ onwards?**

Hint: you can use the `describe` function to see the statistics of a dataframe

In [108]:
# your code here
films['runtime'].median()

109.0

Answer:

**Q. What is the median `runtime` for films between the years $1990$ and $1999$ in the films dataset?**

In [116]:
# your code here
films_s = films[(films['year'] > 1989) & (films['year'] < 2000)]

films_s['runtime'].median()

112.0

Answer:112.0

Create a dataframe of 90's films, sorted by `title`, in the variable `films90s_sorted`.

In [119]:
# your code here
films90s_sorted = films[(films['year'] > 1989) & (films['year'] < 2000)]
films90s_sorted = films90s_sorted.sort_values(by=['title'])
films90s_sorted

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0101985,NaN,NaN,NaN,NaN,NaN,True,A Brighter Summer Day,1991,NOT RATED,25-Nov-11,237,"Crime, Drama, Romance",Edward Yang,"Hung Hung, Mingtang Lai, Alex Yang, Edward Yang","Mandarin, Min Nan, Shanghainese",Taiwan,8 wins & 12 nominations.,90.0,8.4,2872
tt0104008,NaN,NaN,NaN,NaN,NaN,True,A Tale of Winter,1992,NaN,29-Jan-92,114,Drama,_ric Rohmer,_ric Rohmer,French,France,2 wins & 1 nomination.,NaN,7.6,2574
tt0103634,NaN,NaN,NaN,NaN,NaN,True,Aileen Wuornos: The Selling of a Serial Killer,1992,R,4-Feb-94,87,"Documentary, Crime",Nick Broomfield,Nick Broomfield,English,UK,1 nomination.,NaN,7.0,1618
tt0099012,NaN,NaN,NaN,NaN,NaN,True,Alice,1990,PG-13,10-Jan-91,102,"Comedy, Fantasy, Romance",Woody Allen,Woody Allen,"English, Cantonese",USA,Nominated for 1 Oscar. Another 1 win & 5 nomin...,NaN,6.6,10644
tt0185125,NaN,NaN,NaN,NaN,NaN,True,All About My Mother,1999,R,31-Mar-00,101,Drama,Pedro Almod__var,Pedro Almod__var,"Spanish, Catalan","Spain, France",Won 1 Oscar. Another 56 wins & 37 nominations.,87.0,7.9,69368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt0103130,NaN,NaN,NaN,NaN,NaN,True,Trust,1990,R,20-Sep-91,107,"Comedy, Drama",Hal Hartley,Hal Hartley,English,"UK, USA",4 wins & 2 nominations.,67.0,7.5,7200
tt0114787,NaN,NaN,NaN,NaN,NaN,True,Underground,1995,NOT RATED,20-Jun-97,167,"Comedy, Drama, War",Emir Kusturica,"Dusan Kovacevic (story), Emir Kusturica (scree...","Serbian, German, French, English, Russian","Federal Republic of Yugoslavia, France, German...",5 wins & 9 nominations.,NaN,8.1,44863
tt0105695,68.0,98.0,30.0,NaN,NaN,True,Unforgiven,1992,R,7-Aug-92,131,"Drama, Western",Clint Eastwood,David Webb Peoples,English,USA,Won 4 Oscars. Another 36 wins & 29 nominations.,82.0,8.3,279328
tt0111019,NaN,NaN,NaN,NaN,NaN,True,Wild Reeds,1994,NOT RATED,10-May-95,110,Drama,Andr_© T_©chin_©,"Olivier Massart, Gilles Taurand, Andr_© T_©chin_©",French,France,8 wins & 6 nominations.,80.0,7.6,4126
tt0113557,NaN,NaN,NaN,NaN,NaN,True,Zero Kelvin,1995,NaN,27-Nov-96,113,Drama,Hans Petter Moland,"Lars Bill Lundholm, Hans Petter Moland, Peter ...","Norwegian, Swedish","Norway, Sweden",3 wins & 1 nomination.,NaN,7.4,1484

Display the first $5$ items in `films90s_sorted`

In [120]:
# your code here
films90s_sorted.head(5)

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0101985,NaN,NaN,NaN,NaN,NaN,True,A Brighter Summer Day,1991,NOT RATED,25-Nov-11,237,"Crime, Drama, Romance",Edward Yang,"Hung Hung, Mingtang Lai, Alex Yang, Edward Yang","Mandarin, Min Nan, Shanghainese",Taiwan,8 wins & 12 nominations.,90.0,8.4,2872
tt0104008,NaN,NaN,NaN,NaN,NaN,True,A Tale of Winter,1992,NaN,29-Jan-92,114,Drama,_ric Rohmer,_ric Rohmer,French,France,2 wins & 1 nomination.,NaN,7.6,2574
tt0103634,NaN,NaN,NaN,NaN,NaN,True,Aileen Wuornos: The Selling of a Serial Killer,1992,R,4-Feb-94,87,"Documentary, Crime",Nick Broomfield,Nick Broomfield,English,UK,1 nomination.,NaN,7.0,1618
tt0099012,NaN,NaN,NaN,NaN,NaN,True,Alice,1990,PG-13,10-Jan-91,102,"Comedy, Fantasy, Romance",Woody Allen,Woody Allen,"English, Cantonese",USA,Nominated for 1 Oscar. Another 1 win & 5 nomin...,NaN,6.6,10644
tt0185125,NaN,NaN,NaN,NaN,NaN,True,All About My Mother,1999,R,31-Mar-00,101,Drama,Pedro Almod__var,Pedro Almod__var,"Spanish, Catalan","Spain, France",Won 1 Oscar. Another 56 wins & 37 nominations.,87.0,7.9,69368

Show the 90's films sorted in **descending** order by `imbd_votes`, displaying only the first $10$

In [124]:
# your code here
films90s_sorted = films90s_sorted.sort_values(by=['imdb_votes'], ascending=False)
films90s_sorted.head(10)

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0111161,72.0,NaN,22.0,NaN,NaN,True,The Shawshank Redemption,1994,R,14-Oct-94,142,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...",English,USA,Nominated for 7 Oscars. Another 18 wins & 30 n...,80.0,9.3,1711064
tt0137523,NaN,NaN,NaN,NaN,NaN,True,Fight Club,1999,R,15-Oct-99,139,Drama,David Fincher,"Chuck Palahniuk (novel), Jim Uhls (screenplay)",English,"USA, Germany",Nominated for 1 Oscar. Another 10 wins & 31 no...,66.0,8.8,1359025
tt0110912,94.0,95.0,16.0,NaN,True,True,Pulp Fiction,1994,R,14-Oct-94,154,"Crime, Drama",Quentin Tarantino,"Quentin Tarantino (story), Roger Avary (story)...","English, Spanish, French",USA,Won 1 Oscar. Another 60 wins & 65 nominations.,94.0,8.9,1334945
tt0109830,76.0,71.0,89.0,NaN,NaN,True,Forrest Gump,1994,PG-13,6-Jul-94,142,"Comedy, Drama",Robert Zemeckis,"Winston Groom (novel), Eric Roth (screenplay)",English,USA,Won 6 Oscars. Another 39 wins & 65 nominations.,82.0,8.8,1268383
tt0133093,NaN,NaN,NaN,NaN,True,True,The Matrix,1999,R,31-Mar-99,136,"Action, Sci-Fi","Lana Wachowski, Lilly Wachowski","Lilly Wachowski, Lana Wachowski",English,USA,Won 4 Oscars. Another 33 wins & 43 nominations.,73.0,8.7,1233966
tt0114369,NaN,NaN,NaN,NaN,NaN,True,Se7en,1995,R,22-Sep-95,127,"Crime, Drama, Mystery",David Fincher,Andrew Kevin Walker,English,USA,Nominated for 1 Oscar. Another 25 wins & 34 no...,65.0,8.6,1039302
tt0102926,74.0,65.0,61.0,NaN,NaN,True,The Silence of the Lambs,1991,R,14-Feb-91,118,"Crime, Drama, Thriller",Jonathan Demme,"Thomas Harris (novel), Ted Tally (screenplay)",English,USA,Won 5 Oscars. Another 48 wins & 34 nominations.,84.0,8.6,900711
tt0120815,71.0,NaN,NaN,NaN,NaN,True,Saving Private Ryan,1998,R,24-Jul-98,169,"Action, Drama, War",Steven Spielberg,Robert Rodat,"English, French, German, Czech",USA,Won 5 Oscars. Another 74 wins & 74 nominations.,90.0,8.6,888014
tt0108052,8.0,9.0,49.0,NaN,NaN,True,Schindler's List,1993,R,4-Feb-94,195,"Biography, Drama, History",Steven Spielberg,"Thomas Keneally (book), Steven Zaillian (scree...","English, Hebrew, German, Polish",USA,Won 7 Oscars. Another 71 wins & 33 nominations.,93.0,8.9,877500
tt0169547,NaN,NaN,38.0,NaN,NaN,True,American Beauty,1999,R,1-Oct-99,122,"Drama, Romance",Sam Mendes,Alan Ball,English,USA,Won 5 Oscars. Another 103 wins & 96 nominations.,86.0,8.4,827773

You should see that the most voted film (The Shawshank Redemption) has $1711064$ votes

,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,released,runtime,genre,director,writer,language,country,awards,metascore,imdb_rating,imdb_votes
imdb_id,,,,,,,,,,,,,,,,,,,,
tt0137523,NaN,NaN,NaN,NaN,NaN,True,Fight Club,1999,R,15-Oct-99,139,Drama,David Fincher,"Chuck Palahniuk (novel), Jim Uhls (screenplay)",English,"USA, Germany",Nominated for 1 Oscar. Another 10 wins & 31 no...,66.0,8.8,1359025

**Q. Which 90's film received the second-most votes?**

In [128]:
# your code here
films90s_sorted.iloc[1]

rank_afc_2007                                                              NaN
rank_afc_1998                                                              NaN
rank_wga_2005                                                              NaN
rank_ss_2012                                                               NaN
included_in_guardian_list                                                  NaN
included_in_1001_book                                                     True
title                                                               Fight Club
year                                                                      1999
rated                                                                        R
released                                                             15-Oct-99
runtime                                                                    139
genre                                                                    Drama
director                                                         David Fincher
writer                          Chuck Palahniuk (novel), Jim Uhls (screenplay)
language                                                               English
country                                                           USA, Germany
awards                       Nominated for 1 Oscar. Another 10 wins & 31 no...
metascore                                                                 66.0
imdb_rating                                                                8.8
imdb_votes                                                             1359025
Name: tt0137523, dtype: object

Answer:Fight Club with 8.8

**Q. Which 90's film received the twentieth-most votes?**

In [127]:
# your code here
films90s_sorted.iloc[19]

rank_afc_2007                                                              NaN
rank_afc_1998                                                              NaN
rank_wga_2005                                                              NaN
rank_ss_2012                                                               NaN
included_in_guardian_list                                                  NaN
included_in_1001_book                                                     True
title                                                            Jurassic Park
year                                                                      1993
rated                                                                    PG-13
released                                                             11-Jun-93
runtime                                                                    127
genre                                              Adventure, Sci-Fi, Thriller
director                                                      Steven Spielberg
writer                       Michael Crichton (novel), Michael Crichton (sc...
language                                                      English, Spanish
country                                                                    USA
awards                         Won 3 Oscars. Another 28 wins & 17 nominations.
metascore                                                                 68.0
imdb_rating                                                                8.1
imdb_votes                                                              621209
Name: tt0107290, dtype: object

Answer:Jurassic Park with 8.1